@import "tailwindcss";

/* html, body { overflow-x: hidden; } prevent lateral white bands */

/* hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
